/* Стили для публичного экрана на больших мониторах */
.public-display-body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    font-family: 'Nunito', sans-serif;
    /*font-size: 24px;*/
}

.public-display-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Убираем стандартный Bootstrap padding для таблицы */
#public-orders-table>:not(caption)>*>* {
    padding: 0 !important;
    background-color: white;
    color: black;
}

/* Фиксированная ширина с переносом для заголовков продуктов */
.vertical-text {
    width: 4ch;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
}
